<!DOCTYPE HTML>
<html>
<head>
  <title>Главная</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Добро пожаловать!</h1>

<!-- Используем Thymeleaf для условного отображения -->
<div th:if="${#authentication.authenticated}">
  <h4><a href="/logout">Выйти</a></h4>
</div>
<div th:unless="${#authentication.authenticated}">
  <h4><a href="/login">Войти</a></h4>
  <h4><a href="/registration">Регистрация</a></h4>
</div>

<h4><a href="/admin">Пользователи (только админ)</a></h4>
</body>
</html>
